* {
    box-sizing: border-box;
}

html, body, .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container { 
    font-size: 17px;
    opacity: 90%;
    text-transform: uppercase;
   color: white;
   font-family: 'Open Sans Condensed', sans-serif;
}

section:nth-of-type(1) {
    height: 200px;
}

header {
    background-image: url(../assets/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.grey-top-box {
    width: 10%;
    height: 80%;
    background-color: #2b2b2b ;
    text-transform: lowercase;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    display: flex;
    
}

.grey-top-box div:first-of-type{
text-align: center;
margin-bottom: 0.5em;
}

.text-wrapper::after {
    content: '|';
    color: white; 
    transform: translateX(50%,0);
    display: flex;
    padding-left: 0.3em;
    line-height: 1.1em;
    opacity: 50%;
}

.grey-top-box i {
    font-size: 0.8em;
    padding-left: 0.3em;
    opacity: 50%;
    margin-bottom: 0.5em;
}

.projects-wrapper {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-size: 2.4em;
display: flex;
justify-content: flex-end;
position: relative;
padding-right: 1.6em;
transform: translateY(-150%);
}

.navigation-menu-wrapper { 
padding: 1em 2em;
}

.navigation-menu-wrapper a{ 
margin-right: 2em;
font-size: 1em;
text-decoration: none;
color: white;
}

.menu-mobile {
    font-size: 1.5em;
    display: none;
    color: white;
    justify-content: center;
    text-align: end;
    padding: 0.5em;
    cursor: pointer;
}

section:nth-of-type(2) {
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.main-section > div { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 33.3%;
    height: 50%;
    padding: 0.4em 1em;
    font-size: 1em;
}

.image-wrapper {
position: relative;
}

.image-wrapper div:nth-of-type(3) {
    width: 120px;
    height: 20px;
    font-size: 0.9em;
    transform: rotate(-90deg);
    margin-left: -50px;
    position: absolute;
    bottom: 5em;
}

.image-wrapper:first-of-type {
    background-image: url(../assets/concert-hall.jpg);
}

.image-wrapper:nth-of-type(2) {
    background-image: url(../assets/bedroom-2.jpg);
}

.image-wrapper:nth-of-type(3) {
    background-image: url(../assets/hotel.jpg);
}

.image-wrapper:nth-of-type(4) {
    background-image: url(../assets/bedroom-1.jpg);
}

.image-wrapper:nth-of-type(5) {
    background-image: url(../assets/library.jpg);
}

.image-wrapper:last-of-type {
    background-image: url(../assets/kitchen.jpg);
}

.button-wrapper {
    padding-top: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    }

button {
color: whitesmoke;
font-size: 0.5em;
text-transform: uppercase;
border-radius: 25px;
width: 90px;
line-height: 1.3em;
text-align: center;
padding: 5px;
background-color: #3d3d3d;
border: none;
cursor: pointer;
}

button[type="submit"] {
    background-color:#c09c78 ;
    margin-top: 0;
    transform: translateY(-120%);
}

.text-fotter {
    padding: 0.8em;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1em;
}

.text-fotter span:nth-child(2) {
    color: #c09c78 ;
}

input[class="input-validation"] { 
    background-color: #3d3d3d;
    border: none;
    margin-top: 0.6em;
}

.form-details input::placeholder {
    color: whitesmoke;
    font-size: 0.6em;
    padding: 1em;
}

.form-details input {
    width: 120px;
    height: 28px;
    margin-right: 0.5em;
}

input[id="message"] {
    height: 63px;
    transform: translateY(-56%);
    vertical-align: top;
    display: table-cell;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 270px;
    background-color: #2b2b2b ;
    padding: 2em;
    color: whitesmoke;
    margin-bottom: 0;
}

.hidden, label {
    display: none;
}

.mobile-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
}

.mobile-wrapper > div:first-child{
    width: 40px;
    height: 40px;  
    position: absolute;
    z-index: 2;
    right: 1em;
    top: 1em;
    cursor: pointer;
    }
    
    .mobile-wrapper > div img{
    width: 100%;
    height: auto;   
    }
    
    .mobile-wrapper .fotter-icons {
    width: 100%;
    height: 80px;  
    position: absolute;
    bottom: 0em;
    border-top: 1.5px solid #2b2b2b;
    }
    
    .fotter-icons div {
    float: left;    
    width: 50%; 
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .fotter-icons div:first-of-type {
    border-right: 1.5px solid #2b2b2b;
    }
    
    .fotter-icons i {
    font-size: 1.8em;
    cursor: pointer;
    color: #3d3d3d;
    }
    
    .left-text-corner {
    color: white;
    position: absolute;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    padding: 0.6em 0.5em;
    }
    
    .mobile-navigation-menu {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    }
    
    .mobile-navigation-menu a { 
    text-decoration: none; 
    color: white;  
    font-size: 2em;
    }
    
    .mobile-navigation-menu div:first-child { 
    font-weight: bold;
    padding-top: 6em;
    }
    
    .mobile-navigation-menu div {
    padding: 0.5em 1em;
    }


@media (max-width: 599px) {
.navigation-menu-wrapper, .first {
    display: none;
}
.menu-mobile {
    display: block;
}

.grey-top-box {
    font-size: 1em;
    width: 15%;
    height: 55%;
    line-height: 2em;
}

.projects-wrapper {
    justify-content: center;
    padding: 0;
}

.image-wrapper div:nth-child(3) {
margin-left: 0;
transform: rotate(0deg);
text-align: center;
width: 100%;
position: static;
}

section:nth-of-type(3) {
    font-size: 0.8em;
    height: 700px;
    justify-content: center;
}

.main-section div {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-wrapper div:nth-child(2) {
    color: #c09c78;
}

footer { 
    padding: 2.3em 0.8em;
    height: 350px;
}

.text-fotter {
    padding-top: 0em;
}

.button-wrapper {
    justify-content: flex-end;
 }

.form-details input {
    width: 100%;
    height: 15%;
}

input[id="message"] {
   margin-bottom: 2em;
    height: 30%;
    transform: translateY(0%);
}
}